certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
et-xmlfile==1.1.0
idna==3.4
numpy==1.23.4
openpyxl==3.0.10
pandas==1.5.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
requests-futures==1.0.0
six==1.16.0
stem==1.8.1
torrequest==0.1.0
urllib3==1.26.12
